@using static AdminHalloDoc.Entities.ViewModel.Constant;
@model AdminHalloDoc.Entities.ViewModel.AdminViewModel.PaginatedViewModel;

<div class="card border-0 rounded shadow">
   <form id="subsubmitfom" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#SearchResult"      asp-action="_SearchResult" asp-controller="AdminDashboard" novalidate="novalidate">
            @Html.AntiForgeryToken()
<div class="row ps-2 mb-lg-0 ">
    <div class="row col-xl-6">
        <div class="col-sm-4">
            <input id="search-input" class="form-control p-2 mt-3 px-4 mb-3 w-100" type="text"
                   placeholder='Search Patients'>
        </div>
        <div class="col-sm-4">
            <div class="">

                        <select class="form-select form-select-sm p-2 mt-3 mb-3 w-100" asp-for="RegionId" data-allow-clear="true" tabindex="-1" id="regionDashboard" onchange="subsubmit()" asp-items="@(new SelectList(ViewBag.RegionComboBox, "RegionId", "RegionName"))" data-control="select" data-placeholder="Region">
                    <option id="defaultregion" value="">Regions</option>
                </select>
            </div>
        </div>
    </div>


    <div class="col-xl-6 d-flex justify-content-xl-end justify-content-center gap-2 gap-sm-3 gap-xl-4 p-0">
        <div class="btn btn-transparent d-flex align-items-center justify-content-center flex-column flex-lg-row request-type-btn" data-requesttype="0">
            <span> All </span>
        </div>
        <div class="btn btn-transparent d-flex align-items-center justify-content-center flex-column flex-lg-row request-type-btn" data-requesttype="1">
            <div class="border border-1 rounded-circle m-1"
                 style="width: 15px; height:15px; background-color: #60bc60;"></div><span>Patient</span>
        </div>
        <div class="btn btn-transparent d-flex align-items-center justify-content-center flex-column flex-lg-row request-type-btn" data-requesttype="2">
            <div class="border border-1 rounded-circle m-1"
                 style="width: 15px; height:15px; background-color: #ee9125;"></div>
            <span>Family/Friend</span>
        </div>
        <div class="btn btn-transparent d-flex align-items-center justify-content-center flex-column flex-lg-row request-type-btn" data-requesttype="4">
            <div class="border border-1 rounded-circle m-1"
                 style="width: 15px; height:15px; background-color: #e36478;"></div><span>Business</span>
        </div>
        <div class="btn btn-transparent d-flex align-items-center justify-content-center flex-column flex-lg-row request-type-btn" data-requesttype="3">
            <div class="border border-1 rounded-circle m-1"
                 style="width: 15px; height:15px; background-color: #007fc7;"></div><span>Concierge</span>
        </div>
    </div>
</div>
<button type="submit" id="submin" class="d-none"></button> 
</form>
</div>
<script>
        function subsubmit() {
            console.log(54);
            $('#subsubmitfom').submit();
        }
    //$(function () {

    //    $("#btnsubmit").click(function () {
    //        document.querySelectorAll('.action').forEach(function (el) {
    //            el.style.display = 'none';
    //        });

    //        // Using callback function
    //        $("input[name='HtmlTable']").val($("#a1a").html(function () {
    //            document.querySelectorAll('.action').forEach(function (el) {
    //                el.style.display = 'none';
    //            });
    //            // Second line of code runs after the first one is completed
    //            // Place the code here that you want to execute after the first line completes
    //        }));

    //        // Using promise
    //        $("input[name='HtmlTable']").val($("#a1a").html()).promise().done(function () {
    //            document.querySelectorAll('.action').forEach(function (el) {
    //                el.style.display = 'none';
    //            });
    //            // Second line of code runs after the first one is completed
    //            // Place the code here that you want to execute after the first line completes
    //        });
    //        $(".action").show();

    //    });

    //});
</script>