@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var status = "null";
    if (TempData["Status"] == null)
    {
        status = "null";
    }
    else
    {
        status = TempData["Status"].ToString();
        
    }
}
<div class="container-fluid ">

    <partial name="_subtab.cshtml" />
    <div id="SearchResult">

    </div>
</div>
<script type="text/javascript">
    window.onload = function () {
        console.log("@status  d");
        if ("@status" != "null") {
            savealt("@status")
        }
        document.getElementById("watchButton").click();
    };
    const Cancelcase = document.getElementById('Cancelcase')
    if (Cancelcase) {
        Cancelcase.addEventListener('show.bs.modal', event => {
            // Button that triggered the modal
            const button = event.relatedTarget
            // Extract info from data-bs-* attributes
            const patientname = button.getAttribute('data-bs-patientname')
            const requestid = button.getAttribute('data-bs-requestid')
            // If necessary, you could initiate an Ajax request here
            // and then do the updating in a callback.

            // Update the modal's content.
            const modalTitle = Cancelcase.querySelector('#patientname')
            const modalBodyInput = Cancelcase.querySelector('#requestid')

            modalTitle.textContent = patientname
            modalBodyInput.value = requestid
        })
    }
    const Transfercase = document.getElementById('Transfercase')
    if (Transfercase) {
        Transfercase.addEventListener('show.bs.modal', event => {
            // Button that triggered the modal
            const button = event.relatedTarget
            // Extract info from data-bs-* attributes
            const patientname = button.getAttribute('data-bs-patientname')
            const requestid = button.getAttribute('data-bs-requestid')
            const providerId = button.getAttribute('data-bs-providerId')
            // If necessary, you could initiate an Ajax request here
            // and then do the updating in a callback.

            // Update the modal's content.
            const modalTitle = Transfercase.querySelector('#patientname')
            const modalBodyInput = Transfercase.querySelector('#requestid')
            const modalBodyInput1 = Transfercase.querySelector('#providerId')

            modalTitle.textContent = patientname
            modalBodyInput.value = requestid
            modalBodyInput1.value = providerId
        })
    }
</script>
    <script>
    function initDataTable(tableSelector) {
        $(tableSelector).DataTable({
            "scrollY": "300px",
            "scrollCollapse": true,
            "paging": false,
            "order": [],
            //"scroller": true,
            //"stateSave": true,
            "scrollX": true
        });
    }



      

        function OnSuccess(formID) {
           

            if (formID === "formAdd_UMS") {
            }


            if (formID === "formEdit_UMS") {
            }

            if (formID === "formAddEditSave_UMS") {
                $("#filterForm").submit();
                toastr.success("Record saved successfully..!");
            }

            if (formID === "formAddEditMultiSave_UMS") {
                $("#filterForm").submit();
                toastr.success("Record saved successfully..!");
            }

            if (formID === "formDelete_UMS") {
                $("#filterForm").submit();
                toastr.success("Record deleted successfully..!");
            }
        }
    </script>
 