<footer>
    <div class=" justify-content-end position-static  w-100 align-self-end d-flex left-0 bg-dark text-light px-2 align-items-end  bottom-0 py-3 fs-7 align-text-bottom align-items-end">
        <div class="text-center">

            <span class="text-center mx-2">
                Term Of Condition
            </span>
            <span>
                I
            </span>
            <span class="mx-2">
                Privacy Policy
            </span>
        </div>
    </div>
</footer>