:root , [data-theme="light"] {
  --primary-color:#01BCE9;
  --nav-active:#34b9bb;
  --body-color :#FAFAFA;
  --white-color:#FFFFFF;
  --secondary-color:#0D1556;
}
[data-bs-theme=dark] {
  --body-color :#1b1a1a;
  /* --primary-color:#0D1556; */
  --secondary-color:#01BCE9;
  .bg-white{
    background-color:rgb(33,37,41) !important;
  }
}
.dt-paging-button {
    border-radius: var(--bs-border-radius) !important;
    color:white!important;
}
body {
    font-family: 'Poppins', sans-serif;
}
.bg-2 {
    background-color: #60BC60 !important;
}
.bg-3 {
    background-color: #ED9124 !important;
}
.bg-1 {
    background-color: #DA0F82 !important;
}
.bg-4 {
    background-color: #0579BA !important;
}
.filterDiv {

    display: none;
}
.dataTables_paginate a {
    padding: 6px 9px !important;
    background: #ddd !important;
    border-color: #ddd !important;
}
@media screen and (max-width: 660px) {
    .myname {
        display: none;
    }
    .mobile-name{
        display:block;
    }
}
.mobile-name{
    display:none;   
}
.show-table {
    display: table-row;
}
#accordionFlushExample {
    display: none;
} 
.bg-body{
  background-color: var(--body-color) !important;
}
.btn-info{
  background-color: var(--primary-color);
}
.btn-outline-info{
  
}
.btn-outline-info:hover{
 
  color: var(--white-color);
}
.btn-outline-info.active{
  background-color: var(--nav-active);
  color: var(--white-color);
}
.btn-primary{
  background-color: var(--secondary-color);
}
.navbar-brand .logo{
  height: 70px;
}
.text-primary{
  color: var(--primary-color) !important;
}
th{
  background-color: var(--bs-secondary-bg) !important;
  color: var(--bs-dark-text-emphasis) !important;
  border-bottom: 2px solid var(--bs-white) !important;
  padding-left: 1.25rem !important;
  }
  td{
    color: var(--bs-dark-text-emphasis) !important;
    padding-left: 1.25rem !important;
  }
body{
    background: var(--body-color) 0% 0% no-repeat padding-box;
    font-family: Arial, sans-serif;
    z-index: 5;
}
.login{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 2px;
  line-height: 2;}

.form-control:focus{
  border-color: var(--primary-color) !important;
  filter: blur(0);
  box-shadow: 0 0 0 0rem var(--primary-color) !important;
}
.form-floating>.form-control~label{
  padding-left: 20px;
}
.form-floating>.form-control:focus~label {
  color:var(--primary-color);
  background-color: transparent !important;
  left: 1px;
}
.form-control{
  background-color: transparent !important;
}
.input-group-text{
  background-color: transparent !important;
  border-left: 0px !important;
}

.input-group.with-icon>input::-ms-clear{display:none}

.input-group.with-icon>i {
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  pointer-events: none;
  position: absolute;
  z-index: 3;
  top: 50%;
}
.input-group.with-icon>i,
.input-group.with-icon.icon-right>i{
right: .7rem;
}
.input-group.with-icon>input,
.input-group.with-icon.icon-right>input {
padding-right: 1.7rem;
}

.input-group.with-icon.icon-left>i {
left: .7rem;
}
.input-group.with-icon.icon-left>input{
padding-left: 1.7rem;
}

.input-group.with-icon.icon-shy>i {
  z-index: 1;
}
.img-login{
  height: 95vh;
}
.n-background{
  position: absolute;
  /* width: 100%; */
  min-height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  /* z-index: 0; */
}
.n-background::before{
  content: "";
  background-image: url('../images/11116016_415.jpg');
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-position: center;
  opacity: 0.1;
}
.file-upload-wrapper {
  position: relative;
  width: 100%;
  height: 56px;
}

    .file-upload-wrapper:after {
        content: attr(data-text);
        font-size: 18px;
        position: absolute;
        top: 0;
        left: 0;
        background: #ffffff;
        padding: 5px 15px;
        display: block;
        width: calc(100% - 40px);
        pointer-events: none;
        z-index: 20;
        height: 50px;
        line-height: 40px;
        color: var(--bs-body-color);
        border-radius: 5px 10px 10px 5px;
        font-weight: 300;
    }

    .file-upload-wrapper:before {
        content: 'Upload';
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
        height: 55px;
        background: var(--primary-color);
        color: #fff;
        font-weight: 700;
        z-index: 25;
        font-size: 16px;
        line-height: 55px;
        padding: 0 15px;
        text-transform: uppercase;
        pointer-events: none;
        border-radius: 0 5px 5px 0;
    }

.file-upload-wrapper input {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  height: 40px;
  margin: 0;
  padding: 0;
  display: block;
  cursor: pointer;
  width: 100%;
}

.file-upload-wrapper-1 {
    position: relative;
    width: 100%;
    height: 50px;
}

    .file-upload-wrapper-1:after {
        content: attr(data-text);
        font-size: 18px;
        position: absolute;
        top: 24px;
        left: 0;
        background: #ffffff;
        padding: 5px 15px;
        display: block;
        width: calc(100% - 40px);
        pointer-events: none;
        z-index: 20;
        height: 50px;
        line-height: 40px;
        color: var(--bs-body-color);
        border-radius: 5px 10px 10px 5px;
        font-weight: 300;
    }
.form-control:disabled.file-upload-wrapper-1:after {
    content: attr(data-text);
    font-size: 18px;
    position: absolute;
    top: 24px;
    left: 0;
    background: var(--bs-secondary-bg);
    padding: 5px 15px;
    display: block;
    width: calc(100% - 40px);
    pointer-events: none;
    z-index: 20;
    height: 50px;
    line-height: 40px;
    color: var(--bs-body-color);
    border-radius: 5px 10px 10px 5px;
    font-weight: 300;
}
.bg-disabled {
    background: var(--bs-secondary-bg);
}
.file-upload-wrapper-1:before {
    content: 'Upload';
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    height: 55px;
    background: var(--primary-color);
    color: #fff;
    font-weight: 700;
    z-index: 25;
    font-size: 16px;
    line-height: 55px;
    padding: 0 15px;
    text-transform: uppercase;
    pointer-events: none;
    border-radius: 0 5px 5px 0;
}

    .file-upload-wrapper-1 input {
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 99;
        height: 40px;
        margin: 0;
        padding: 0;
        display: block;
        cursor: pointer;
        width: 100%;
    }
.file-upload {
    position: relative;
    width: 100%;
    height: 50px;
}
.file-upload input {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    height: 40px;
    margin: 0;
    padding: 0;
    display: block;
    cursor: pointer;
    width: 100%;
}
.file-upload:after {
    content: attr(data-text);
    font-size: 18px;
    position: absolute;
    top: 0;
    left: 0;
    background: #ffffff;
    padding: 5px 15px;
    display: block;
    width: calc(100% - 60%);
    pointer-events: none;
    z-index: 20;
    height: 50px;
    line-height: 40px;
    color: var(--bs-body-color);
    border-radius: 5px 10px 10px 5px;
    font-weight: 300;
}
    .file-upload:before {
        content: 'Upload';
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
        height: 55px;
        background: var(--primary-color);
        color: #fff;
        font-weight: 700;
        z-index: 25;
        font-size: 16px;
        line-height: 55px;
        padding: 0 15px;
        text-transform: uppercase;
        pointer-events: none;
        border-radius: 0 5px 5px 0;
    }
.iti--allow-dropdown{
  width: 100%;
  height: calc(3.5rem + calc(var(--bs-border-width) * 2));
}
.iti input{
  height: calc(3.5rem + calc(var(--bs-border-width) * 2));
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
  color: var(--nav-active);
  font-weight: 600;
  border-bottom:3px solid var(--nav-active);
}
.left-0{
  left:0;
}
.info-i{
  border: 2px solid;
  padding: 10px;
  border-radius: 49%;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:active, :not(.btn-check)+.btn:active{
  color: var(--white-color);
}
@media only  screen and (max-width: 767px) {


}
.btn.active.a-primary::after{
  position: absolute;
  content: '';
  left: 45%;
  bottom: -20px;
  border-style: solid;
  border-width: 0 20px 20px 20px;
  border-color: transparent transparent #0d6efd transparent;
  transform: rotate(179deg);transition: 1s;

}
.btn.active.a-info::after{
  position: absolute;
  content: '';
  left: 45%;
  bottom: -20px;
  border-style: solid;
  border-width: 0 20px 20px 20px;
  border-color: transparent transparent #34b9bb transparent;
  transform: rotate(179deg);transition: 1s;

}
.btn.active.a-success::after{
  position: absolute;
  content: '';
  left: 45%;
  bottom: -20px;
  border-style: solid;
  border-width: 0 20px 20px 20px;
  border-color: transparent transparent #198754 transparent;
  transform: rotate(179deg);transition: 1s;

}
.btn.active.a-warning::after {
    position: absolute;
    content: '';
    left: 45%;
    bottom: -20px;
    border-style: solid;
    border-width: 0 20px 20px 20px;
    border-color: transparent transparent #e407ff transparent;
    transform: rotate(179deg);
    transition: 1s;
}
.btn.active.a-unpaid::after {
    position: absolute;
    content: '';
    left: 45%;
    bottom: -20px;
    border-style: solid;
    border-width: 0 20px 20px 20px;
    border-color: transparent transparent #8c47d4 transparent;
    transform: rotate(179deg);
    transition: 1s;
}
.btn.active.a-danger::after {
    position: absolute;
    content: '';
    left: 45%;
    bottom: -20px;
    border-style: solid;
    border-width: 0 20px 20px 20px;
    border-color: transparent transparent #001ab9 transparent;
    transform: rotate(179deg);
    transition: 1s;
}

.p-success {
  height: 8px;
  width: 8px;
  background-color: #5FBC61;
  border-radius: 50%;
  display: inline-block;
}
.p-warning {
  height: 8px;
  width: 8px;
  background-color: #F16C20;
  border-radius: 50%;
  display: inline-block;
}
.p-primary {
  height: 8px;
  width: 8px;
  background-color: #A2B86C;
  border-radius: 50%;
  display: inline-block;
}
.p-info {
  height: 8px;
  width: 8px;
  background-color: #EBC844;
  border-radius: 50%;
  display: inline-block;
}
.p-vip {
  height: 8px;
  width: 8px;
  background-color: #EBC844;
  border-radius: 50%;
  display: inline-block;
}
.filterDiv td {
    background-color: transparent !important;
    color: white !important;
    vertical-align: middle;
}
tr {
    border-color: bisque!important;
}
th:nth-child(7) {
  width: 10%;
}
th:nth-child(6) {
  width: 10%;
}
.colored-toast {
    background-color: #a5dc86 !important;
    color: white !important;
    text-shadow: -1px 0px 0px black, 1px 0px 0px black, 0px -1px 0px black, 0px 1px 0px black;
}
.colored-toast-cancel {
    background-color: indianred !important;
    color: white !important;
    text-shadow: -1px 0px 0px black, 1px 0px 0px black, 0px -1px 0px black, 0px 1px 0px black;
}

@media only  screen and (max-width: 800px) {
    #table {
        display: none;
    }

    #accordionFlushExample {
        display: block;
    }
  .btn.active.a-primary::after{
    border-width: 0px;
  }
  .btn.active.a-info::after{
    border-width: 0px;
  }
  .btn.active.a-success::after{
    border-width: 0px;
  }
  .btn.active.a-warning::after{
    border-width: 0px;
  }
  .btn.active.a-danger::after{
    border-width: 0px;
  }
    .btn.active.a-unpaid::after {
        border-width: 0px;
    }
.t-tab{
  border-radius: 0px;
}
.t-tab > div>b{
  font-size:calc(.9rem + .6vw) !important;
}
.t-tab {
  text-align: center !important;
  font-size:calc(.6rem + .6vw) !important;
}
  th:nth-child(7) {
    width: 50%;
  }
  .top-btn{
    display: none;
  }
  .top-heading{
    font-size: 1.3rem;
  }
  .top-side-heading{
    font-size: 1rem; 
    padding-bottom: 1rem !important;
  }
  .top-icon{
    display: none;
  }
  .f-tollbar{
    font-size: 0.8rem;
  }
  .table-menu{
    display: block !important;
  }
  .all{
    display: none;
  }
}
.accordion-button {
    background-color: var(--bs-info-bg-subtle);
    display: block;
}

.accordion-item {
    border-color: #CECECE;
}

.accordion-body {
    background-color: var(--bs-info-border-subtle);
}
.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

 .dropdown-content a:hover {
     background-color: #ddd;
 }

.dropdown:hover .dropdown-content {
    display: block;
}
.form-control:disabled {
    background-color: var(--bs-secondary-bg) !important;
    opacity: 1;
}

.navbar-expand-lg .navbar-nav .nav-link:focus-within {
    color: var(--nav-active);
    font-weight: 600;
    border-bottom: 3px solid var(--nav-active);
}

.file-upload-wrapper1 {
    position: relative;
    width: 100%;
    height: 50px;
}

    .file-upload-wrapper1:after {
        content: attr(data-text);
        font-size: 18px;
        position: absolute;
        top: 0;
        left: 0;
        background: var(--bs-body-bg);
        padding: 5px 15px;
        display: block;
        width: calc(100% - 40px);
        pointer-events: none;
        z-index: 20;
        height: 40px;
        line-height: 40px;
        color: var(--bs-body-color);
        border-radius: 5px 10px 10px 5px;
        font-weight: 300;
    }

    .file-upload-wrapper1 input {
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 99;
        height: 40px;
        margin: 0;
        padding: 0;
        display: block;
        cursor: pointer;
        width: 100%;
    }

@media only screen and (max-width: 767px) {
}
.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: var(--body-color);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
}

     li a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        li a:hover {
            background-color: var(--body-color) !important;
        }

/*.dropdown:hover .dropdown-menu {
    display: block;
}*/

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.nn li a:hover {
    color: var(--primary-color) !important;
    background-color: var(--bs-info-bg-subtle) !important;
}

@media only screen and (max-width: 768px) {
    .al-background {
        position: absolute;
        /* width: 100%; */
        min-height: 100%;
        top: 0;
        left: 0;
        background-size: cover;
        background-position: center;
        overflow: hidden;
        /* z-index: 0; */
    }

        .al-background::before {
            content: "";
            background-image: url('../images/11116016_415.jpg');
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-size: cover;
            background-position: center;
            opacity: 0.25;
        }
    .al-side{
        display:none;
    }
}

.form-check-input[type=radio] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: white;
    /* Not removed via appearance */
    margin: 0;
    font: inherit;
    color: green;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid var(--nav-active);
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    margin-right: 15px;
    margin-top: 5px;
}

    .form-check-input[type=radio]::before {
        content: "";
        width: 0.65em;
        height: 0.65em;
        border-radius: 50%;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em var(--form-control-color);
        /* Windows High Contrast Mode */
        background-color: var(--nav-active);
    }

    .form-check-input[type=radio]:checked::before {
        transform: scale(1);
    }

    .form-check-input[type=radio]:focus {
        outline: max(2px, 0.15em) solid var(--nav-active);
        outline-offset: max(2px, 0.15em);
    }
.inputWrapper {
    height: 35px;
    width: 18%;
    overflow: hidden;
    position: relative;
    border-radius: 7%;
    cursor: pointer;
    background-color: #DDF;
}

.fileInput {
    cursor: pointer;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    /*This makes the button huge. If you want a bigger button, increase the font size*/
    font-size: 50px;
    /*Opacity settings for all browsers*/
    opacity: 0;
    -moz-opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0)
}



#signature-pad {
    margin-top: 30px;
    border: 2px solid rgb(30, 30, 30);
    background-color: rgb(255, 255, 255);
}

#clear-button, #undo-button, #download-button {
    margin-top: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

#clear-button {
    border: none;
    background-color: rgb(255,61,80);
    color: rgb(255, 255, 255);
}

#undo-button {
    border: none;
    background-color: rgb(40, 114, 244);
    color: rgb(255, 255, 255);
}

#download-button {
    border: none;
    background-color: rgb(0, 181, 25);
    color: rgb(255, 255, 255);
}
.alert-panding {
    --bs-alert-color: #EBC844;
    --bs-alert-bg: #fba5e7;
    --bs-alert-border-color: #eb70e1;
    --bs-alert-link-color: #EBC844;
}
@media (max-width: 670px) {
    .nav-toggle {
        display: block !important; /* Show toggle button only on small screens */
    }
    .navbar-nav .nav-link.active, .nav-item .nav-link.active {
        background-color: aliceblue !important;
        color: #71767b !important;
        border-bottom: 0px solid var(--nav-active);
    }
    .navlist {
        position: fixed;
        inset: 103px 48% 0 0;
        min-height: 100vh;
        z-index: 99;
        flex-flow: column;
        background-color: white;
        backdrop-filter: blur(6px);
         : 300ms;
    }
    .toggle--open {
        scale: 0.8;
    }

    .toggle--close {
        place-self: end;
        /*margin: 0.5rem 1rem;*/
        font-size: 1.9rem;
    }

    .nav-item {
        /*display: flex;*/
        align-items: center;
        /*margin: 0;*/
        margin-top: 5px !important;
        /* height: 3.5rem; */
        margin-bottom: 4px !important;
        /*padding-inline-start: 15cqi;*/
    }

    .navlist[data-hidden="false"] {
        translate: 0;
        visibility: visible;
    }
        .toggle--close

        {
            scale: 0.8;
        }


    .active-item {
        background-color: #e5f8fd !important;
        color: black !important;
        border-bottom: 0px solid var(--nav-active);
    }

.navlist[data-hidden="true"] {
    translate: 100%;
    visibility: hidden;
}
}

.site-header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    padding-inline: var(--space-1);
}


nav {
    display: flex;
}

.nav-toggle {
    place-self: center;
    background: 0;
    border: 0;
    font-size: 2rem;
    font-weight: 900;
    color: var(--white);
    display: none; /* Initially hide toggle button */
}

    .nav-toggle:focus {
        background-color: var(--blue-accent);
    }

.navlist {
    list-style: none;
    display: flex;
    gap: var(--space-2);
}

.nav-item {
    margin-block: auto;
}




.sidebar {
    flex-grow: 1.5;
    background-color: var(--dark-accent);
    padding: var(--space-1);
}

.news__section {
    display: flex;
    flex-flow: column;
    gap: var(--space-125);
}

.news {
    min-height: 6rem;
    padding-block: 1rem;
}

.news--title {
    color: var(--blue-accent);
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 0.75rem;
}

.news--text {
    font-family: var(--font-secondary);
    text-wrap: pretty;
    max-width: 50ch;
    color: var(--white);
    font-weight: 300;
    letter-spacing: 1px;
}



/* Adding some additional styles for demonstration */
.sidebar {
    display: none; /* Initially hide sidebar */
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

    .sidebar.active {
        display: block; /* Display sidebar when active */
    }

.alert-conclude {
    --bs-alert-color: #ac1284;
    --bs-alert-bg: #ffcdf4;
    --bs-alert-border-color: #ff9cd3;
    --bs-alert-link-color: #5f0366;
}
.btn-outline-conclude {
    --bs-btn-color: #ffc107;
    --bs-btn-border-color: #ffc107;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #e407ff;
    --bs-btn-hover-border-color: #e407ff;
    --bs-btn-focus-shadow-rgb: 255,193,7;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #e407ff;
    --bs-btn-active-border-color: #f407ff;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #ffc107;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #ffc107;
    --bs-gradient: none;
}

.alert-unpaid {
    --bs-alert-color: #8c47d4;
    --bs-alert-bg: #ebd6ff;
    --bs-alert-border-color: #8c47d4;
    --bs-alert-link-color: #5f0366;
}

.btn-outline-unpaid {
    --bs-btn-color: #ffc107;
    --bs-btn-border-color: #ffc107;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #8c47d4;
    --bs-btn-hover-border-color: #b707ff;
    --bs-btn-focus-shadow-rgb: 255,193,7;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #8c47d4;
    --bs-btn-active-border-color: #b707ff;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #ffc107;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #ffc107;
    --bs-gradient: none;
}
.alert-primary {
    --bs-alert-color: #1563a1;
    --bs-alert-bg: #aae3ff;
    --bs-alert-border-color: #78b0c1;
    --bs-alert-link-color: #5f0366;
}
.alert-new {
    --bs-alert-color: #052c65;
    --bs-alert-bg: #cfe2ff;
    --bs-alert-border-color: #9ec5fe;
    --bs-alert-link-color: #5f0366;
}

.btn-outline-new {
    --bs-btn-color: #ffc107;
    --bs-btn-border-color: #ffc107;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #001ab9;
    --bs-btn-hover-border-color: #001ab9;
    --bs-btn-focus-shadow-rgb: 255,193,7;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #001ab9;
    --bs-btn-active-border-color: #001ab9;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #ffc107;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #ffc107;
    --bs-gradient: none;
}
a{
    text-decoration:none;
}
.request-type-btn.active {
    border: 2px solid #a9a9a9;
    color: var(--bs-body-color);
}
.request-type-btn {
    /*height: 36px;*/
}
.dropdown-item.active, .dropdown-item:active {
    color: var(--primary-color) !important;
    background-color: var(--bs-info-bg-subtle) !important;
}

.switch {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 56px;
    height: 20px;
    padding: 3px;
    background-color: white;
    border-radius: 18px;
    box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    background-image: -webkit-linear-gradient(top, #eeeeee, white 25px);
    background-image: -moz-linear-gradient(top, #eeeeee, white 25px);
    background-image: -o-linear-gradient(top, #eeeeee, white 25px);
    background-image: linear-gradient(to bottom, #eeeeee, white 25px);
}

.switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 10px;
    text-transform: uppercase;
    background: #eceeef;
    border-radius: inherit;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
    -webkit-transition: 0.15s ease-out;
    -moz-transition: 0.15s ease-out;
    -o-transition: 0.15s ease-out;
    transition: 0.15s ease-out;
    -webkit-transition-property: opacity background;
    -moz-transition-property: opacity background;
    -o-transition-property: opacity background;
    transition-property: opacity background;
}

    .switch-label:before, .switch-label:after {
        position: absolute;
        top: 50%;
        margin-top: -.5em;
        line-height: 1;
        -webkit-transition: inherit;
        -moz-transition: inherit;
        -o-transition: inherit;
        transition: inherit;
    }

    .switch-label:before {
        content: attr(data-off);
        right: 11px;
        color: #aaa;
        text-shadow: 0 1px rgba(255, 255, 255, 0.5);
    }

    .switch-label:after {
        content: attr(data-on);
        left: 11px;
        color: white;
        text-shadow: 0 1px rgba(0, 0, 0, 0.2);
        opacity: 0;
    }

.switch-input:checked ~ .switch-label {
    background: #47a8d8;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}

    .switch-input:checked ~ .switch-label:before {
        opacity: 0;
    }

    .switch-input:checked ~ .switch-label:after {
        opacity: 1;
    }

.switch-handle {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 18px;
    height: 18px;
    background: white;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    background-image: -webkit-linear-gradient(top, white 40%, #f0f0f0);
    background-image: -moz-linear-gradient(top, white 40%, #f0f0f0);
    background-image: -o-linear-gradient(top, white 40%, #f0f0f0);
    background-image: linear-gradient(to bottom, white 40%, #f0f0f0);
    -webkit-transition: left 0.15s ease-out;
    -moz-transition: left 0.15s ease-out;
    -o-transition: left 0.15s ease-out;
    transition: left 0.15s ease-out;
}

    .switch-handle:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -6px 0 0 -6px;
        width: 12px;
        height: 12px;
        background: #f9f9f9;
        border-radius: 6px;
        box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
        background-image: -webkit-linear-gradient(top, #eeeeee, white);
        background-image: -moz-linear-gradient(top, #eeeeee, white);
        background-image: -o-linear-gradient(top, #eeeeee, white);
        background-image: linear-gradient(to bottom, #eeeeee, white);
    }

.switch-input:checked ~ .switch-handle {
    left: 40px;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}

.switch-green > .switch-input:checked ~ .switch-label {
    background: #4fb845;
}
.calendar-container {
    background: #fff;
   
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}

    .calendar-container header {
        display: flex;
        align-items: center;
        padding: 25px 30px 10px;
        justify-content: space-between;
    }

header .calendar-navigation {
    display: flex;
}

    header .calendar-navigation span {
        height: 38px;
        width: 38px;
        margin: 0 1px;
        cursor: pointer;
        text-align: center;
        line-height: 38px;
        border-radius: 50%;
        user-select: none;
        color: #aeabab;
        font-size: 1.9rem;
    }

.calendar-navigation span:last-child {
    margin-right: -10px;
}

header .calendar-navigation span:hover {
    background: #f2f2f2;
}

header .calendar-current-date {
    font-weight: 500;
    font-size: 1.45rem;
}

.calendar-body {
    padding: 20px;
}

    .calendar-body tr {
        list-style: none;
        flex-wrap: wrap;
        text-align: center;
    }
        .calendar-body tr th {
            background-color: #565656 !important;
            color: white !important;
            padding: 0.4rem;
            border: 1px solid #f3f3f3;
        }
    .calendar-body .calendar-dates {
        margin-bottom: 20px;
    }

    .calendar-body td {
        width: calc(100% / 7);
        font-size: 1.07rem;
        color: #414141;
    }

    .calendar-body .calendar-weekdays td {
        cursor: default;
        font-weight: 500;
    }

    .calendar-body .calendar-dates td {
        border: 0px solid #414141;
        position: relative;
        z-index: 1;
        /*cursor: pointer;*/
    }

.calendar-dates div.inactive {
    color: #aaa;
}



.calendar-dates td::before {
    position: absolute;
    content: "";
    z-index: -1;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.calendar-dates td.active::before {
    /*background: #6332c5;*/
}

.calendar-dates td:not(.active):hover::before {
    /*background: #e4e1e1;*/
}
.first {
    background-color: #ffabd5;
}

li div {
    border: 0.5px solid #c9c9c9;
    padding: 1px;
}


.heading {
    background-color: #565656;
    color: white !important;
    border: 1px solid #f3f3f3;
}

.weekhead {
    background-color: #565656;
    color: white !important;
    border: 1px solid #f3f3f3;
}

.Converage {
    background-color: #ffabd5;
    color: black !important;
}

    .Converage td {
        border: 1px solid #f3f3f3;
    }

.weekhead td {
    color: white !important;
    padding: 0.4rem;
    border: 1px solid #f3f3f3;
}

.main tr > td {
    border: 1px solid #c9c9c9;
    padding: 0.2rem;
}
.calendar-dates tr > td {
    border: 1px solid #c9c9c9;
    padding: 0.2rem;
}
.table-text div a{
    color:black !important;
}
.table-text div {
    height: 34px; /* Set the desired fixed height */
    overflow: hidden; /* Hide overflow text */
    border: 0.5px solid #c9c9c9;
    padding: 1px;
    color: black;
}
.table-text div:hover {
   background-color:antiquewhite;
}
.Status-1 {
    font-size: 0.7rem;
    background-color: #c2f7c2;
}
    .Status-1.true-physician {
        background-color: #2ec430 !important;
        color: white !important;
    }
.Status-0.true-physician {
    background-color: #f85454 !important;
    color: white !important;
}
.Status-0 {
    font-size: 0.7rem;
    background-color: lightcoral;
}
.view-all-btn{
}
.model-Status-1 {
    background-color: #c2f7c2;
    border: 1px solid white;
}
.model-Status-1:hover {
    background-color: #9dff9d;
    border: 1px solid white;
}
.model-Status-0 {
    background-color: lightcoral;
    border: 1px solid white;
}
    .model-Status-0:hover {
        background-color: #f47373;
        border: 1px solid white;
    }
.w-Status-1 {
    font-size: 0.9rem;
    color: black !important;
    display: block;
    padding: 0.3rem;
    background-color: #c2f7c2;
}

.w-Status-0 {
    font-size: 0.9rem;
    color: black !important;
    padding: 0.3rem;
    display: block;
    background-color: lightcoral;
}
.employee-schedules thead tr td{
    width:auto;
}
.employee-schedules-table tr > td {
    border: 1px solid #c9c9c9;
    padding: 0.2rem;
}
.employee-schedules-thead {
    background-color: #565656;
    color: white !important;
    border: 1px solid #f3f3f3;
}
    .employee-schedules-thead td {
        color: white !important;
        padding: 0.4rem;
        border: 1px solid #f3f3f3;
    }

.dt-paging-button.current {
    background-color: var(--primary-color) !important;
    color: aliceblue !important;
    border: 1px solid white !important;
}
.dt-info{
    padding-left:13px;
}
.dt-paging-button.next {
    background: #7febff78 !important;
    border-radius: 50% !important;
}
.dt-paging-button.previous {
    background: #7febff78 !important;
    border-radius: 50% !important;
}
.dt-paging-button.current{
    color:white !important;
}
.active > .page-link, .page-link.active {
    --bs-pagination-active-border-color: var(--primary-color);
    --bs-pagination-active-bg: var(--primary-color);
}
.page-link {
    --bs-pagination-color: var(--primary-color);
}
.form-check-input:checked {
    /*background-color: #0dcaf0 !important;*/
    border-color: #0dcaf0 !important;
}
.form-check-input[type=checkbox]:checked {
    background-color: #0dcaf0 !important;
}
table.dataTable thead > tr > th.dt-orderable-asc span.dt-column-order:before, table.dataTable thead > tr > th.dt-ordering-asc span.dt-column-order:before,
table.dataTable thead > tr > td.dt-orderable-asc span.dt-column-order:before,
table.dataTable thead > tr > td.dt-ordering-asc span.dt-column-order:before {
    position: absolute;
    display: block;
    bottom: 50%;
    content: "ᐱ";
    content: "ᐱ"/"";
}

table.dataTable thead > tr > th.dt-orderable-desc span.dt-column-order:after, table.dataTable thead > tr > th.dt-ordering-desc span.dt-column-order:after,
table.dataTable thead > tr > td.dt-orderable-desc span.dt-column-order:after,
table.dataTable thead > tr > td.dt-ordering-desc span.dt-column-order:after {
    position: absolute;
    display: block;
    top: 50%;
    content: "ᐯ";
    content: "ᐯ"/"";
    padding-top: 2px;
}

table.dataTable thead > tr > th.dt-orderable-asc, table.dataTable thead > tr > th.dt-orderable-desc, table.dataTable thead > tr > th.dt-ordering-asc, table.dataTable thead > tr > th.dt-ordering-desc,
table.dataTable thead > tr > td.dt-orderable-asc,
table.dataTable thead > tr > td.dt-orderable-desc,
table.dataTable thead > tr > td.dt-ordering-asc,
table.dataTable thead > tr > td.dt-ordering-desc {
    position: relative;
    padding-right: 30px;
}

    table.dataTable thead > tr > th.dt-orderable-asc span.dt-column-order, table.dataTable thead > tr > th.dt-orderable-desc span.dt-column-order, table.dataTable thead > tr > th.dt-ordering-asc span.dt-column-order, table.dataTable thead > tr > th.dt-ordering-desc span.dt-column-order,
    table.dataTable thead > tr > td.dt-orderable-asc span.dt-column-order,
    table.dataTable thead > tr > td.dt-orderable-desc span.dt-column-order,
    table.dataTable thead > tr > td.dt-ordering-asc span.dt-column-order,
    table.dataTable thead > tr > td.dt-ordering-desc span.dt-column-order {
        position: absolute;
        right: 12px;
        top: 0;
        bottom: 0;
        width: 12px;
    }

        table.dataTable thead > tr > th.dt-orderable-asc span.dt-column-order:before, table.dataTable thead > tr > th.dt-orderable-asc span.dt-column-order:after, table.dataTable thead > tr > th.dt-orderable-desc span.dt-column-order:before, table.dataTable thead > tr > th.dt-orderable-desc span.dt-column-order:after, table.dataTable thead > tr > th.dt-ordering-asc span.dt-column-order:before, table.dataTable thead > tr > th.dt-ordering-asc span.dt-column-order:after, table.dataTable thead > tr > th.dt-ordering-desc span.dt-column-order:before, table.dataTable thead > tr > th.dt-ordering-desc span.dt-column-order:after,
        table.dataTable thead > tr > td.dt-orderable-asc span.dt-column-order:before,
        table.dataTable thead > tr > td.dt-orderable-asc span.dt-column-order:after,
        table.dataTable thead > tr > td.dt-orderable-desc span.dt-column-order:before,
        table.dataTable thead > tr > td.dt-orderable-desc span.dt-column-order:after,
        table.dataTable thead > tr > td.dt-ordering-asc span.dt-column-order:before,
        table.dataTable thead > tr > td.dt-ordering-asc span.dt-column-order:after,
        table.dataTable thead > tr > td.dt-ordering-desc span.dt-column-order:before,
        table.dataTable thead > tr > td.dt-ordering-desc span.dt-column-order:after {
            left: 0;
            opacity: 0.125;
            line-height: 9px;
            font-size: 0.8em;
        }

table.dataTable thead > tr > th.dt-orderable-asc, table.dataTable thead > tr > th.dt-orderable-desc,
table.dataTable thead > tr > td.dt-orderable-asc,
table.dataTable thead > tr > td.dt-orderable-desc {
    cursor: pointer;
}

    table.dataTable thead > tr > th.dt-orderable-asc:hover, table.dataTable thead > tr > th.dt-orderable-desc:hover,
    table.dataTable thead > tr > td.dt-orderable-asc:hover,
    table.dataTable thead > tr > td.dt-orderable-desc:hover {
        outline: 2px solid rgba(0, 0, 0, 0.05);
        outline-offset: -2px;
    }

table.dataTable thead > tr > th.dt-ordering-asc span.dt-column-order:before, table.dataTable thead > tr > th.dt-ordering-desc span.dt-column-order:after,
table.dataTable thead > tr > td.dt-ordering-asc span.dt-column-order:before,
table.dataTable thead > tr > td.dt-ordering-desc span.dt-column-order:after {
    opacity: 0.6;
}

table.dataTable thead > tr > th.sorting_desc_disabled span.dt-column-order:after, table.dataTable thead > tr > th.sorting_asc_disabled span.dt-column-order:before,
table.dataTable thead > tr > td.sorting_desc_disabled span.dt-column-order:after,
table.dataTable thead > tr > td.sorting_asc_disabled span.dt-column-order:before {
    display: none;
}

table.dataTable thead > tr > th:active,
table.dataTable thead > tr > td:active {
    outline: none;
}

div.dt-scroll-body > table.dataTable > thead > tr > th,
div.dt-scroll-body > table.dataTable > thead > tr > td {
    overflow: hidden;
}

:root.dark table.dataTable thead > tr > th.dt-orderable-asc:hover, :root.dark table.dataTable thead > tr > th.dt-orderable-desc:hover,
:root.dark table.dataTable thead > tr > td.dt-orderable-asc:hover,
:root.dark table.dataTable thead > tr > td.dt-orderable-desc:hover,
:root[data-bs-theme=dark] table.dataTable thead > tr > th.dt-orderable-asc:hover,
:root[data-bs-theme=dark] table.dataTable thead > tr > th.dt-orderable-desc:hover,
:root[data-bs-theme=dark] table.dataTable thead > tr > td.dt-orderable-asc:hover,
:root[data-bs-theme=dark] table.dataTable thead > tr > td.dt-orderable-desc:hover {
    outline: 2px solid rgba(255, 255, 255, 0.05);
}
.loder-upper {
    aspect-ratio: 0 !important;
    box-shadow: 0 0 0 3px rgba(1, 1, 1, 0) inset !important;
    border-radius: 0% !important;
    animation: l11 0s infinite !important;
}
.loader {
    display: none;
    width: 50px;
    aspect-ratio: 1;
    box-shadow: 0 0 0 4px rgb(39 202 194) inset;
    border-radius: 50%;
    position: fixed;
    animation: l11 7s infinite;
    top: 50%;
    left: 50%;
}

    .loader:before,
    .loader:after {
        content: "";
        position: absolute;
        top: calc(100% + 3px);
        left: calc(50% - 12.5px);
        box-shadow: inherit;
        width: 25px;
        aspect-ratio: 1;
        border-radius: 50%;
        transform-origin: 50% -28px;
        animation: l11 1.5s infinite;
    }

    .loader:after {
        animation-delay: -0.75s;
    }

@keyframes l11 {
    100% {
        transform: rotate(360deg);
    }
}