<div class="modal fade" id="Assigncase" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header  bg-info text-white">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Assign Physician </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="AssignProvider" asp-controller="ViewAction">
            <div class="modal-body">
                <h3 class="modal-title fs-5" id="exampleModalLabel">Patient Name : <span class="text-info" id="patientname"> </span></h3>
               
                    <input type="hidden" disabled="false" name="requestid" id="requestid" />
                    <div class="mb-4">
                        <select class="form-select form-select-sm mt-3 p-2" required name="region" data-allow-clear="true" tabindex="-1" onchange="myFunction()" id="region2" asp-items="@(new SelectList(ViewBag.RegionComboBox,"RegionId","RegionName"))" data-control="select2" data-placeholder="Select Level">
                            <option>All Region</option>
                        </select>
                    </div>
                    <div class="mb-4">
                        <select class="form-select form-select-sm p-2" required name="ProviderId" data-allow-clear="true" tabindex="-1" id="provider" data-control="select2" data-placeholder="Select Level">
                            <option>All Provider</option>
                        </select>
                    </div>
                    <div class="mb-4 form-floating ">
                        <textarea class="form-control rounded" name="Notes" required cols="50" type="text" rows="8" placeholder=Suchtext autocomplete=off></textarea>
                        <label for="floatingInput">Notes </label>
                    </div>
                
            </div>
            <div class="modal-footer">
                <input type="submit" class=" btn btn-info text-white" value="Assign" style="display:block !important" disabled="false" >
                <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal">Close</button>
            </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">

    function myFunction(){
        var email = $("#region2").val();
        console.log(email);
        $.ajax({
            type: "POST",
            url: '@Url.Action("ProviderbyRegion","AdminDashboard")?Regionid=' + email,
            cache: false,
            success: function (response) {
                
                console.log(response);
                var s = '<option value="-1">Please Select</option>';
                for (var i = 0; i < response.length; i++) {
                    s += '<option value="' + response[i].physicianid + '">' + response[i].firstname +' '+ response[i].lastname + '</option>';
                }
                $("#provider").html(s);
            },
            error: function () {
                alert("Error while checking email.");
            }
        });
    }

</script>