@model AdminHalloDoc.Entities.ViewModel.AdminViewModel.ViewActions

<link href="~/css/ss.css" rel="stylesheet" />
<link href="~/css/chosen.css" rel="stylesheet" />
<div class="modal-header  bg-info text-white">
    <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm Concellation</h1>
    <button type="button" class="btn btn-transparent btn-icon btn-lg text-light" data-bs-dismiss="modal" aria-label="Close">
        <i class="bi bi-x-circle"></i>
    </button>
</div>
<div class=" modal-body">
    <h3 class="modal-title fs-5" id="exampleModalLabel">Patient Name : <span class="text-info" id="patientname"> @Model.PatientName </span></h3>
    <form id="formAddEditSave_UMS" data-ajax="true" data-ajax-method="post"
          data-ajax-success="OnSuccess(this.id,data, status, xhr);" data-ajax-failure="OnFailure(xhr, status, error);"
          asp-action="_CaseReasonPost" asp-controller="ViewAction" class="needs-validation " novalidate>
        @Html.AntiForgeryToken()
            <input  type="hidden" asp-for="RequestID" />

        <div class=" form-group row my-2">
            <div class="col-md-12 dropdown-container">
                

                <input type="hidden" name="ReasonTag" id="ReasonTag" />
                <select data-placeholder="Select Categories" required id="cansele" asp-items="@(new SelectList(ViewBag.CaseReasonComboBox,"CaseReasonId","CaseReasonName"))" multiple class="chosen-select" tabindex="8">
                                </select>
                <div class="invalid-feedback">
                    Please choose a Reason
                </div>

            </div>
        </div>
        <div class="form-group form-floating my-2">
            <label for="validationCustomUsername" class="form-label"></label>
                <textarea type="text" asp-for="Notes" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required></textarea>
                <label>Notes</label>
                <div class="invalid-feedback">
                    Please choose a Notes.
    </div>
  </div>
        <hr class="form-button-divider" />
        <div class="row">
            <div class="offset-md-4 col-md-8">
                <input type="submit" value="Save" class="btn btn-info text-white js-btn-modal-form-submit" data-check-before-submit="validateForm()" />
                <button type="button" class="btn btn-outline-info btn-sm" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </form>
</div>



<script src="~/js/chosen.jquery.min.js"></script>
<script src="~/js/dropdown.js"></script>

        <script>
    $(function () {

        $('#cansele').change(function () {
            console.log($(this).val());
            $(ReasonTag).val($(this).val());
            console.log($(ReasonTag).val());
        });

    });
        </script>