@using AdminHalloDoc.Entities.ViewModel;
@model AdminHalloDoc.Entities.ViewModel.AdminViewModel.ViewActions
<div class="modal-header  bg-info text-white">
    <h1 class="modal-title fs-5" id="exampleModalLabel">Encounter PDF</h1>
    <button type="button" class="btn btn-transparent btn-icon btn-lg text-light" data-bs-dismiss="modal" aria-label="Close">
        <i class="bi bi-x-circle"></i>
    </button>
</div>

<div class=" modal-body text-center">
    @*<h3 class="modal-title fs-5" id="exampleModalLabel">Patient Name : <span class="text-info" id="patientname"> @Model.PatientName </span></h3>*@
    <form id="formAddEditSave_UMS" data-ajax="true" data-ajax-method="post"
          data-ajax-success="OnSuccess(this.id,data, status, xhr);" data-ajax-failure="OnFailure(xhr, status, error);"
          asp-action="_EncounterModelPost" asp-controller="ViewAction">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="RequestID" />
        <input type="hidden" asp-for="ProviderId" />

        <div class="form-group my-3">
            <div class=" txet-center">
                <a asp-action="generatePDF" target="_blank" asp-route-id="@Model.RequestID.Encode()" asp-controller="SubmitForm" name="encounter" value="5" class="btn btn-info btn-lg text-white">
                    Download
                </a>

            </div>
        </div>

    </form>
</div>

<script>
    const buttonss = document.querySelectorAll('.btngt');

    buttonss.forEach(button => {
        button.addEventListener('click', function () {
            const encounterValue = this.value;

            window.location.href = `/Physician/DashBoard`;
        });
    });
</script>