<div class="modal fade" id="sendlink" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header  bg-info text-white">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Send Mail To  Patient for Submitting request</h1>
                <button type="button" class="btn btn-transparent btn-icon btn-lg text-light" data-bs-dismiss="modal" aria-label="Close">
                    <i class="bi bi-x-circle"></i>
                </button>
            </div>
            <form asp-action="SendLink" asp-controller="ViewAction" class="needs-validation " novalidate>
            <div class="modal-body">
                    <div class=" form-floating  my-2">
                        <input class="form-control rounded" name="firstname" aria-describedby="inputGroupPrepend" required type="text" placeholder="First Name" autocomplete=off>
                        <label class="" for="floatingInput">First Name </label>
                    </div>
                    <div class="form-floating my-2">
                        <input class="form-control rounded" name="lastname" aria-describedby="inputGroupPrepend" required type="text" placeholder=Suchtext autocomplete=off>
                        <label for="floatingInput">Last Name </label>
                    </div>
                    <div class=" form-floating my-2">
                        <input id="sendlink" type="tel" name="phonenumber" aria-describedby="inputGroupPrepend" required class="form-control rounded" placeholder="Phone Number" autocomplete=off>
                        <label for="floatingInput">Phone Number </label>

                    </div>
                    <div class=" form-floating my-2">
                        <input class="form-control rounded" name="email" aria-describedby="inputGroupPrepend" required type="text" placeholder=Suchtext autocomplete=off>
                        <label for="floatingInput">Email </label>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class=" btn btn-info text-white">Confirm</button>
                <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal">Close</button>
            </div>
                </form>
        </div>
    </div>
</div>
