@using AdminHalloDoc.Models.CV;
    @using static AdminHalloDoc.Entities.ViewModel.Constant;
<form id="filterForm" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#SearchResult"
      asp-action="_SearchResult" asp-controller="Partner"  novalidate="novalidate">
    @Html.AntiForgeryToken()

    <div class="text-end mx-2 px-3 d-flex justify-content-between">
        
        <div class="dropdown d-flex">
            <div class=" for mx-2">
                <input type="text" name="searchvender" placeholder="Search vender" onkeyup="subsubmit()" class="form-control" />
            </div>
            <select class="form-select form-select-md " name="regionId" data-allow-clear="true" tabindex="-1" onchange="subsubmit()" asp-items="@(new SelectList(ViewBag.VenderTypeComboBox,"VenderTypeId","Name"))" data-control="select2" data-placeholder="Select Level">
                <option value="">All Profession</option>
            </select>
        </div>
        <div class="d-flex">

            <!-- Button trigger modal -->
            <a asp-action="PartnerAddEdit" asp-controller="Partner" class="btn btn-info text-white">
                Create Partner Account
            </a>
        </div>

    </div>


    <input type="submit" id="submit" class="d-none" />
</form>

    <script>

        function subsubmit() {
            console.log(54);
        $('#submit').click();
        }
    </script>

