<div class="justify-content-between d-flex my-3">
    <div class="heading ">
        <h3 class="mb-0 pb-0 top-heading">Patient</h3>  <span class="align-bottom  top-side-heading d-flex flex-column justify-content-end pb-1 px-2 text-primary-emphasis fw-bolder"> (Close)</span>
    </div>
    <din>
        <div class="btn btn-info text-white">
            <i class="bi bi-send"></i>
            <span class="top-btn">
                send link
            </span>
        </div>
        <div class="btn btn-info text-white">
            <i class="bi bi-file-earmark-break"></i>
            <span class="top-btn">
                Create Request
            </span>

        </div>
        <div class="btn btn-info text-white">
            <i class="bi bi-forward"></i>
            <span class="top-btn">
                export
            </span>

        </div>
        <div class="btn btn-info text-white">
            <i class="bi bi-forward-fill"></i>
            <span class="top-btn">
                export all
            </span>

        </div>
        <div class="btn btn-info text-white">
            <i class="bi bi-person-square"></i>
            <span class="top-btn">
                Request DTY Support
            </span>

        </div>
    </din>
</div>
<div class="card border-0 shadow py-2 my-3">
    <div class="d-flex justify-content-between m-2 table-menu">
        <div class="starting-bar d-flex">
            <div class="row">
                <div class="col-md-6">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2 w-100" type="search" placeholder="Search" aria-label="Search">
                    </form>
                </div>
                <div class="col-md-6 ">
                    <div class="dropdown ">
                        <button class="btn w-100 btn-light border-1 text-light-emphasis border dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-search"></i>  Dropdown button
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>
        <div class="ending-bar d-flex text-center">
            <div class="top-tollbar">
                <button type="button" class="btn btn-light mx-1 border border-1 text-light-emphasis mx-3 f-tollbar all">All</button>
            </div>

            <div class="top-tollbar">
                <div class="p-success">
                </div>
                <div type="button" class="btn btn- f-tollbar p-0">Patient</div>
            </div>
            <div class="top-tollbar">
                <div class=" p-warning ">
                </div>
                <button type="button" class="btn btn- f-tollbar p-0">Family/Friend</button>
            </div>
            <div class="top-tollbar">
                <div class=" p-primary">
                </div>
                <button type="button" class="btn btn- f-tollbar">Business</button>
            </div>
            <div class="top-tollbar">
                <div class=" p-info">
                </div>
                <button type="button" class="btn btn- f-tollbar">Concierge</button>
            </div>
            <div class="top-tollbar">
                <div class=" p-vip">
                </div>
                <button type="button" class="btn btn- f-tollbar">Vip</button>
            </div>

        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-responsive">
            <thead class="fw-lighter">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">Rqequestor</th>
                    <th scope="col">Request Date</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Address</th>
                    <th scope="col">Notes</th>
                    <th scope="col">Chat With</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-success  ">
                    <td scope="col ">
                        <div class="text-end d-flex justify-content-between">
                            <div class="text-start d-grid">
                                ramesh karotiya
                            </div> <div class="text-end verti border border-1 p-1 text-end rounded-1 py-0 btn text-white">
                                <i class="bi bi-envelope"></i>
                            </div>
                        </div>
                    </td>
                    <td scope="col">Jun, 16, 2003</td>
                    <td scope="col">Patient informati</td>
                    <td scope="col">Jun, 16, 2003</td>
                    <td scope="col">
                        <div class="border border-1 p-1 rounded-2 text-center w-75 py-1"><i class="bi bi-telephone"></i> +91 9532653265 </div>
                        <span>
                            (Patient)
                        </span>
                        <div class="border border-1 p-1 rounded-2 text-center w-75 py-1"><i class="bi bi-telephone"></i> +91 9532653265</div>
                        <span>
                            (Patient)
                        </span>
                    </td>
                    <td scope="col">7, Devidayal Chawl, Kv Rd, Kanjur Marg (east)</td>
                    <td scope="col">is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's </td>
                    <td scope="col"> <div class="border border-1 p-1 rounded-2 text-center w-75 py-1"><i class="bi bi-person-workspace"></i> Provider </div></td>
                    <td scope="col"><div class="border border-1 p-1 rounded-2 text-center w-75 py-1">Actions </div></td>
                </tr>
                <tr class="bg-primary  ">
                    <td scope="col ">
                        <div class="text-end d-flex justify-content-between">
                            <div class="text-start d-grid">
                                ramesh karotiya
                            </div> <div class="text-end verti border border-1 p-1 text-end rounded-1 py-0 btn text-white">
                                <i class="bi bi-envelope"></i>
                            </div>
                        </div>
                    </td>
                    <td scope="col">Jun, 16, 2003</td>
                    <td scope="col">Patient informati</td>
                    <td scope="col">Jun, 16, 2003</td>
                    <td scope="col">
                        <div class="border border-1 p-1 rounded-2 text-center w-75 py-1"><i class="bi bi-telephone"></i> +91 9532653265 </div>
                        <span>
                            (Patient)
                        </span>
                        <div class="border border-1 p-1 rounded-2 text-center w-75 py-1"><i class="bi bi-telephone"></i> +91 9532653265</div>
                        <span>
                            (Patient)
                        </span>
                    </td>
                    <td scope="col">7, Devidayal Chawl, Kv Rd, Kanjur Marg (east)</td>
                    <td scope="col">is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's </td>
                    <td scope="col"> <div class="border border-1 p-1 rounded-2 text-center w-75 py-1"><i class="bi bi-person-workspace"></i> Provider </div></td>
                    <td scope="col"><div class="border border-1 p-1 rounded-2 text-center w-75 py-1">Actions </div></td>
                </tr>
                <tr class="bg-success  ">
                    <td scope="col ">
                        <div class="text-end d-flex justify-content-between">
                            <div class="text-start d-grid">
                                ramesh karotiya
                            </div> <div class="text-end verti border border-1 p-1 text-end rounded-1 py-0 btn text-white">
                                <i class="bi bi-envelope"></i>
                            </div>
                        </div>
                    </td>
                    <td scope="col">Jun, 16, 2003</td>
                    <td scope="col">Patient informati</td>
                    <td scope="col">Jun, 16, 2003</td>
                    <td scope="col">
                        <div class="border border-1 p-1 rounded-2 text-center w-75 py-1"><i class="bi bi-telephone"></i> +91 9532653265 </div>
                        <span>
                            (Patient)
                        </span>
                        <div class="border border-1 p-1 rounded-2 text-center w-75 py-1"><i class="bi bi-telephone"></i> +91 9532653265</div>
                        <span>
                            (Patient)
                        </span>
                    </td>
                    <td scope="col">7, Devidayal Chawl, Kv Rd, Kanjur Marg (east)</td>
                    <td scope="col">is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's </td>
                    <td scope="col"> <div class="border border-1 p-1 rounded-2 text-center w-75 py-1"><i class="bi bi-person-workspace"></i> Provider </div></td>
                    <td scope="col"><div class="border border-1 p-1 rounded-2 text-center w-75 py-1">Actions </div></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>