<div class="justify-content-between d-flex my-3">
    <div class="heading ">
        <h3 class="mb-0 pb-0 top-heading">Patient</h3>  <span class="align-bottom  top-side-heading d-flex flex-column justify-content-end pb-1 px-2 text-primary-emphasis fw-bolder"> (Close)</span>
    </div>
    <din>
        <div class="btn btn-info text-white">
            <i class="bi bi-send"></i>
            <span class="top-btn">
                send link
            </span>
        </div>
        <div class="btn btn-info text-white">
            <i class="bi bi-file-earmark-break"></i>
            <span class="top-btn">
                Create Request
            </span>

        </div>
        <div class="btn btn-info text-white">
            <i class="bi bi-forward"></i>
            <span class="top-btn">
                export
            </span>

        </div>
        <div class="btn btn-info text-white">
            <i class="bi bi-forward-fill"></i>
            <span class="top-btn">
                export all
            </span>

        </div>
        <div class="btn btn-info text-white">
            <i class="bi bi-person-square"></i>
            <span class="top-btn">
                Request DTY Support
            </span>

        </div>
    </din>
</div>
<div class="card border-0 shadow py-2 my-3">
    <div class="d-flex justify-content-between m-2 table-menu">
        <div class="starting-bar d-flex">
            <div class="row">
                <div class="col-md-6">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2 w-100" type="search" placeholder="Search" aria-label="Search">
                    </form>
                </div>
                <div class="col-md-6 ">
                    <div class="dropdown ">
                        <button class="btn w-100 btn-light border-1 text-light-emphasis border dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-search"></i>  Dropdown button
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>
        <div class="ending-bar d-flex text-center">
            <div class="top-tollbar">
                <button type="button" class="btn btn-light mx-1 border border-1 text-light-emphasis mx-3 f-tollbar all">All</button>
            </div>

            <div class="top-tollbar">
                <div class="p-success">
                </div>
                <div type="button" class="btn btn- f-tollbar p-0">Patient</div>
            </div>
            <div class="top-tollbar">
                <div class=" p-warning ">
                </div>
                <button type="button" class="btn btn- f-tollbar p-0">Family/Friend</button>
            </div>
            <div class="top-tollbar">
                <div class=" p-primary">
                </div>
                <button type="button" class="btn btn- f-tollbar">Business</button>
            </div>
            <div class="top-tollbar">
                <div class=" p-info">
                </div>
                <button type="button" class="btn btn- f-tollbar">Concierge</button>
            </div>
            <div class="top-tollbar">
                <div class=" p-vip">
                </div>
                <button type="button" class="btn btn- f-tollbar">Vip</button>
            </div>

        </div>
    </div>
    <div class="table-responsive">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        <div class="d-flex justify-content-between">
                            <div>
                                <div class="pb-3">
                                    Testp Testp
                                </div>
                                <div>
                                    123, baltime , mayloan 2802
                                </div>
                            </div>
                            <div>
                                <div class="pb-2">
                                    Patient  <div class="p-success">
                                    </div>
                                </div>
                                <div class="btn btn-outline-info rounded-4 p-1 fs-6 px-2">
                                    map location
                                </div>
                            </div>
                        </div>
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div class="d-flex align-items-center py-0 position-relative">
                            <div class="border border-1 border-info d-flex rounded-5 ro">
                                <i class="bi bi-calendar3 p-2 py-1  fa-sm"></i>
                            </div>
                            <div class="px-2 ">
                                <span class="text-start text-light-emphasis"> Date Of birth:  </span>
                                <span class="text-end text-dark"> Jun 28, 1991(33)  </span>
                            </div>
                            <div class="btn btn-light rounded-4 p-1 fs-6 px-3 my-2 position-absolute top-0  end-0">
                                View Case
                            </div>
                        </div>
                        <div class="d-flex align-items-center py-0">
                            <div class="border border-1 border-info d-flex rounded-5 mb-1 ">
                                <i class="bi bi-envelope p-2 py-1 fa-sm"></i>
                            </div>
                            <div class="px-2 ">
                                <span class="text-start text-light-emphasis">Email :  </span>
                                <span class="text-end text-dark">shreyans Padmani  </span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center py-0">
                            <div class="border border-1 border-info d-flex rounded-5  mb-1">
                                <i class="bi bi-telephone p-2 py-1  fa-sm"></i>
                            </div>
                            <div class="px-2 ">
                                <span class="text-start text-light-emphasis"> patient:  </span>
                                <span class="text-end text-dark"> +1 3263 526 </span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center pb-1">
                            <div class="border border-1 border-info d-flex rounded-5  mb-1">
                                <i class="bi bi-person p-2 py-1  fa-sm"></i>
                            </div>
                            <div class="px-2 ">
                                <span class="text-start text-light-emphasis"> Requestor:  </span>
                                <span class="text-end text-dark"> shreyans padmani </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="btn btn-info rounded-4 p-1 fs-6 px-5 my-2">
                                    Assign Case
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="btn btn-danger rounded-4 p-1 fs-6  px-5 my-2">
                                    cancel case
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="btn btn-info rounded-4 p-1 fs-6  px-5 my-2">
                                    view Notes
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="btn btn-danger rounded-4 p-1 fs-6 px-5  my-2">
                                    block patient
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="btn btn-success rounded-4 p-1 fs-6 px-5 my-2">
                                    email
                                </div>
                            </div>
                        </div>




                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        Accordion Item #2
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        Accordion Item #3
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThreea">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThreea" aria-expanded="false" aria-controls="flush-collapseThreea">
                        Accordion Item #3
                    </button>
                </h2>
                <div id="flush-collapseThreea" class="accordion-collapse collapse" aria-labelledby="flush-headingThreea" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                </div>
            </div>
        </div>
        <table class="table table-responsive" id="table">
            <thead class="fw-lighter">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">Rqequestor</th>
                    <th scope="col">Request Date</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Address</th>
                    <th scope="col">Notes</th>
                    <th scope="col">Chat With</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-success  ">
                    <td scope="col ">
                        <div class="text-end d-flex justify-content-between">
                            <div class="text-start d-grid">
                                ramesh karotiya
                            </div> <div class="text-end verti border border-1 p-1 text-end rounded-1 py-0 btn text-white">
                                <i class="bi bi-envelope"></i>
                            </div>
                        </div>
                    </td>
                    <td scope="col">Jun, 16, 2003</td>
                    <td scope="col">Patient informati</td>
                    <td scope="col">Jun, 16, 2003</td>
                    <td scope="col">
                        <div class="border border-1 p-1 rounded-2 text-center w-75 py-1"><i class="bi bi-telephone"></i> +91 9532653265 </div>
                        <span>
                            (Patient)
                        </span>
                        <div class="border border-1 p-1 rounded-2 text-center w-75 py-1"><i class="bi bi-telephone"></i> +91 9532653265</div>
                        <span>
                            (Patient)
                        </span>
                    </td>
                    <td scope="col">7, Devidayal Chawl, Kv Rd, Kanjur Marg (east)</td>
                    <td scope="col">is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's </td>
                    <td scope="col"> <div class="border border-1 p-1 rounded-2 text-center w-75 py-1"><i class="bi bi-person-workspace"></i> Provider </div></td>
                    <td scope="col"><div class="border border-1 p-1 rounded-2 text-center w-75 py-1">Actions </div></td>
                </tr>

                <tr class="bg-primary  ">
                    <td scope="col ">
                        <div class="text-end d-flex justify-content-between">
                            <div class="text-start d-grid">
                                ramesh karotiya
                            </div> <div class="text-end verti border border-1 p-1 text-end rounded-1 py-0 btn text-white">
                                <i class="bi bi-envelope"></i>
                            </div>
                        </div>
                    </td>
                    <td scope="col">Jun, 16, 2003</td>
                    <td scope="col">Patient informati</td>
                    <td scope="col">Jun, 16, 2003</td>
                    <td scope="col">
                        <div class="border border-1 p-1 rounded-2 text-center w-75 py-1"><i class="bi bi-telephone"></i> +91 9532653265 </div>
                        <span>
                            (Patient)
                        </span>
                        <div class="border border-1 p-1 rounded-2 text-center w-75 py-1"><i class="bi bi-telephone"></i> +91 9532653265</div>
                        <span>
                            (Patient)
                        </span>
                    </td>
                    <td scope="col">7, Devidayal Chawl, Kv Rd, Kanjur Marg (east)</td>
                    <td scope="col">is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's </td>
                    <td scope="col"> <div class="border border-1 p-1 rounded-2 text-center w-75 py-1"><i class="bi bi-person-workspace"></i> Provider </div></td>
                    <td scope="col"><div class="border border-1 p-1 rounded-2 text-center w-75 py-1">Actions </div></td>
                </tr>

                <tr class="bg-success  ">
                    <td scope="col ">
                        <div class="text-end d-flex justify-content-between">
                            <div class="text-start d-grid">
                                ramesh karotiya
                            </div> <div class="text-end verti border border-1 p-1 text-end rounded-1 py-0 btn text-white">
                                <i class="bi bi-envelope"></i>
                            </div>
                        </div>
                    </td>
                    <td scope="col">Jun, 16, 2003</td>
                    <td scope="col">Patient informati</td>
                    <td scope="col">Jun, 16, 2003</td>
                    <td scope="col">
                        <div class="border border-1 p-1 rounded-2 text-center w-75 py-1"><i class="bi bi-telephone"></i> +91 9532653265 </div>
                        <span>
                            (Patient)
                        </span>
                        <div class="border border-1 p-1 rounded-2 text-center w-75 py-1"><i class="bi bi-telephone"></i> +91 9532653265</div>
                        <span>
                            (Patient)
                        </span>
                    </td>
                    <td scope="col">7, Devidayal Chawl, Kv Rd, Kanjur Marg (east)</td>
                    <td scope="col">is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's </td>
                    <td scope="col"> <div class="border border-1 p-1 rounded-2 text-center w-75 py-1"><i class="bi bi-person-workspace"></i> Provider </div></td>
                    <td scope="col"><div class="border border-1 p-1 rounded-2 text-center w-75 py-1">Actions </div></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>