<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HelloDoc</title>
    <link href="~/css/main.css" rel="stylesheet" type="text/css" asp-append-version="true" />
</head>
<body>

    <main role="main" class="pb-3 container-fluid">
            @RenderBody()
     </main>
    <script src="https://kit.fontawesome.com/1d989daaf7.js" crossorigin="anonymous"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    <script src="~/js/custom.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <!-- Add the Firebase SDK -->
    <script src="https://www.gstatic.com/firebasejs/9.6.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.6.0/firebase-messaging.js"></script>
    <script>
        // Initialize Firebase
        const firebaseConfig = {
            apiKey: "AIzaSyA4OnSsbgxT5aC2WVL9hHGvUWKCbqvRiDs",
            authDomain: "core-computer-416304.firebaseapp.com",
            projectId: "core-computer-416304",
            storageBucket: "core-computer-416304.appspot.com",
            messagingSenderId: "62116323995",
            appId: "1:62116323995:web:4aa574b2360363558b5c3e",
        };
        firebase.initializeApp(firebaseConfig);

        // Get registration token
        const messaging = firebase.messaging();
        messaging.requestPermission().then(() => {
            return messaging.getToken();
        }).then((token) => {
            console.log("Registration token:", token);
        }).catch((err) => {
            console.log("Error getting registration token:", err);
        });
    </script>
</body>
</html>
