@using AdminHalloDoc.Models.CV;
<nav class="navbar px-3  border-2 border-bottom navbar-expand-lg bg-white">
    <div class="container-fluid">
        
        <button class="nav-toggle toggle--open text-end my-2" type="button" aria-expanded="false" aria-controls="navlist" aria-label="open menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand " href="Patient_index.html">
            <img src="~/images/Fig56. Patient site 1.png" class="img-fluid logo" />
        </a>

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <div class=" top-0 end-0 my-4 mx-5 position-absolute text-info border-info rounded-3 d-flex">
            <h5 class="text-dark align-bottom pt-2 ">
                Welcome <span class="fw-bolder"> @CV.UserName() </span>
            </h5>
            <a asp-action="Logout" asp-controller="AdminLogin" class="btn btn-outline-info mx-2">Logout</a>
            <button class="btn btn-outline-info" onclick="mode()">
                <i class="bi bi-moon"></i>
            </button>
        </div>
    </div>
</nav>
